<html>
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
   <header>
   
    <div class="options">
      <a href="#" class="options-link link-active">Home</a>
      <a href="#" class="options-link">Aluguel</a>
      <a href="#" class="options-link">Agua</a>
      <a href="#" class="options-link">Energia</a>
      <a href="#" class="options-link">notas</a>
    </div>
  </header>
<main>

 <section>
    <h2 class="bigtitle-title">Casa 1</h2>
    <p>alex.</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>
  

  <section>
    <h2 class="bigtitle-title">Casa 2</h2>
    <p>neguinha .</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

  <section class="bigbottom">
    <h2 class="bigtitle-title">Casa 3</h2>
    <p>Maik .</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

  <section class="bigtitle">
    <h2 class="bigtitle-title">Casa 4</h2>
    <p>Rogerio .</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>
  

  <section>
    <h2 class="bigtitle-title">Casa 1 </h2>
    <p>perninha.</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

  <section>
    <h2 class="bigtitle-title">Casa com picina</h2>
    <img class="section-img profile" src="https://img.freepik.com/vector-gratis/imagen-casa-campo-isometrica-banners-inmobiliarios-folletos-paginas-web_285336-355.jpg?size=626&ext=jpg" />
    <p>...</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

  <section>
    <h2 class="bigtitle-title">Casa 2</h2>
    <p>manu.</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

  <section>
    <h2 class="bigtitle-title">Casa 3</h2>
    <p>Fran.</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

  <section>
    <h2 class="bigtitle-title">Casa 4</h2>
    <p>casal.</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

  <section>
    <h2 class="bigtitle-title">Casa 5</h2>
    <p>kevem.</p>
    <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
  </section>

</main>
  </body>
</html>